.footer {
  display: flex;
  width: 1235px;
  height: 55px;
  background: #0067a3;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  top: 298px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}
.footer__left {
  padding: 16px 10px;
}
.footer__centr {
  padding: 16px 150px 15px 0px;
  margin-left: -450px;
}

.footer__right {
  padding: 16px 10px;
}
